@model Shooping.Models.EditProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <partial name="_EditProduct"/>
            
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">
                   <i class="fa-solid fa-save"></i> Guardar
                </button>
                <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-circle-arrow-left "></i> Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}