@model Shooping.Data.Entities.Country

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Está seguro de borrar el registro?</h3>
<div>

    <partial name="_CountryDetails"/>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-outline-danger">
            <i class="bi bi-check-circle"></i> Borrar
        </button> 
        <a asp-action="Index" class="btn btn-outline-success"><i class="bi bi-arrow-left-circle"></i> Regresar</a>
    </form>
</div>
