@model Shooping.Data.Entities.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Está seguro de borrar el registro?</h3>
<div>

    <partial name="_CategoryDetails" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-danger">
            <i class="fa-solid fa-circle-check"></i> Eliminar
        </button>
        <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-circle-left"></i> Regresar</a>
    </form>
</div>