@model Shooping.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mb-3" style="width: 450px; height: 450px">
            <h5 class="card-header bg-dark text-center text-white"><i class="fa-solid fa-key text-navy text-white"></i> Cambio de Contraseña</h5>
            <div class="card-body bg-white">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" type="password" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Confirm"></label>
                        <input asp-for="Confirm" type="password" class="form-control" />
                        <span asp-validation-for="Confirm" class="text-warning"></span>
                    </div>

                    <div class="form-group mt-5">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-circle-check"></i> Cambiar Contraseña
                        </button>
                        <a asp-action="ChangeUser" class="btn btn-success"><i class="fa-solid fa-circle-left"></i> Regresar</a>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-dark text-center text-white">
                <br/>
            </div>
        </div>
    </div>
</div>

@section Scripts {
	@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}